*.launch
*.sublime-workspace
.angular
.c9
.classpath
.DS_Store
.eslintcache
.project
.sass-cache
.settings
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
connect.lock
dist
documentation
dollop
libpeerconnection.log
node_modules
npm-debug.log
out-tsc
testem.log
Thumbs.db
yarn-error.log
