<section>
  <h2>About</h2>
  <p>
    Hi, my name is Amar. I have been a Full Stack Web developer for more than 5 years. I strive to make great web
    projects of various sizes.
  </p>
  <p>
    I am specialized in the development of front end applications with Angular but I have skills with back end
    development with NodeJS and PHP.
  </p>
  <p>I focus on the user experience and the use of best practices to make enjoyable and scalable applications.</p>
  <mat-card>
    <mat-card-title>Front End</mat-card-title>
    <mat-card-content>
      HTML, SCSS, TypeScript, Angular, AngularJS, Angular Material, Bootstrap, Responsive, PWA, Microfrontend
      Architecture
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card>
    <mat-card-title>Back End</mat-card-title>
    <mat-card-content>
      NodeJS, PHP, NestJS, MeteorJS, Laravel, REST API, Microservice Architecture, SQL, MongoDB, Redis, ElasticSearch
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card>
    <mat-card-title>Utilities</mat-card-title>
    <mat-card-content>
      Docker, Git, GitHub, GitLab, Gitflow, webStorm, phpStorm, VS Code, Scrum, IBM Cloud
    </mat-card-content>
  </mat-card>
</section>
