<section>
  <h2>Hi, my name is Amar, I'm a Full Stack Developer, and this is my world!</h2>
  <p>I build applications that make people want to use them. Code Quality and User Experience are my top priority.</p>
  <mat-divider></mat-divider>
  <img alt="Amar Hazem" height="auto" src="assets/images/portrait.jpeg" width="60%" />
  <mat-divider></mat-divider>
  <div id="socials">
    <a
      aria-label="LinkedIn"
      color="primary"
      href="https://www.linkedin.com/in/amar-hazem"
      mat-fab
      rel="noopener"
      target="_blank"
    >
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>
    <a aria-label="GitHub" color="primary" href="https://github.com/amar-hazem" mat-fab rel="noopener" target="_blank">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
    <a aria-label="Email" color="primary" href="mailto:amar.hazem@icloud.com" mat-fab>
      <mat-icon>mail</mat-icon>
    </a>
    <a
      aria-label="Resume"
      color="primary"
      download="resume-amar-hazem.pdf"
      href="assets/pdf/resume-amar-hazem.pdf"
      mat-fab
    >
      <mat-icon>contact_page</mat-icon>
    </a>
  </div>
  <button (click)="scrollToAbout()" mat-stroked-button>Check out my profile<mat-icon>arrow_downward</mat-icon></button>
</section>
