section {
  padding: 15px;

  mat-card {
    mat-card-header {
      align-items: center;
      display: flex;

      mat-card-title {
        margin: 0;
      }

      div {
        flex-grow: 1;
      }

      a {
        img {
          filter: invert(100%);
        }
      }
    }

    mat-card-content {
      display: flex;
      justify-content: center;

      img {
        width: 100%;

        @media (min-width: 600px) {
          max-width: 450px;
        }
      }
    }
  }
}
