<section>
  <h2>Projects</h2>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Portfolio</mat-card-title>
      <div></div>
      <a
        mat-icon-button
        href="https://github.com/amar-hazem/amar-hazem/tree/main/apps/portfolio-web"
        rel="noopener"
        target="_blank"
      >
        <mat-icon svgIcon="github"></mat-icon>
      </a>
      <a href="http://localhost:4200" mat-icon-button rel="noopener" target="_blank">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-card-header>
    <mat-card-subtitle> My portfolio application built with Angular and Nest. </mat-card-subtitle>
    <mat-card-content>
      <img alt="Portfolio App" src="assets/images/portfolio.jpeg" />
    </mat-card-content>
  </mat-card>
</section>
