section {
  padding: 15px;

  form {
    mat-card {
      mat-card-content {
        mat-form-field {
          width: 100%;

          textarea {
            height: 150px;
          }
        }
      }

      mat-card-actions {
        margin: 0;
        padding: 0;
      }
    }
  }
}
