<section>
  <h2>Testimonials</h2>
  <a href="https://www.linkedin.com/in/karloglavas" rel="noopener" target="_blank">
    <mat-card>
      <mat-card-header>
        <img alt="Karlo Glavas" mat-card-avatar src="assets/images/karlo-glavas.jpeg" />
        <mat-card-title>Karlo Glavas</mat-card-title>
        <mat-card-subtitle>Agency Manager at Alten</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        "Throughout the entire project life he is responsive, and willing to work through issues as they arise. It’s
        obvious he takes tremendous pride in his work, and I wouldn’t hesitate to recommend or work with him again."
      </mat-card-content>
    </mat-card>
  </a>
</section>
